//Header
$header-bg: #08090B;

//Line
$line-bg: #252C41;


//Text Color
$txt-cl-default: #464E62;

//Search
$bg-search:radial-gradient(100.04% 100% at 50% 0%, #26314E 0%, #252B3D 100%);
$br-search:1px solid rgba(255, 255, 255, 0.10);