// Миксин для медиазапроса с минимальной шириной экрана
@mixin media-min($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

// Миксин для медиазапроса с максимальной шириной экрана
@mixin media-max($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin font-inter($font-size, $font-weight, $line-height){
    font-family: Inter;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $txt-cl-default;
}

@mixin button($border, $background){
    border-radius:6px;
    border: $border;
    background: $background;
}